---
import cleanHTML from '~/utils/cleanHTML';
const { layout } = Astro.props;
const { heading, column_1, column_2, column_3, background, background_color } = layout;
const bgColor = background ? `background-color: ${background_color};` : '';
---

<div class="clear-both pt-8 pb-8">
  {heading && <h2 set:html={cleanHTML(heading)} class="max-w-5xl mx-auto mb-2 text-2xl font-bold px-8" />}
  <div class="md:columns-2 lg:columns-3 gap-8 max-w-5xl mx-auto px-8">
    {column_1 && <div set:html={cleanHTML(column_1)} style={bgColor} class="md:break-after-column" />}
    {column_2 && <div set:html={cleanHTML(column_2)} style={bgColor} class="md:break-after-column" />}
    {column_3 && <div set:html={cleanHTML(column_3)} style={bgColor} />}
  </div>
  <div class="clear-both"></div>
</div>
