---
const { layout } = Astro.props;
const { heading, column_1, column_2, background, background_color } = layout;
console.log('layout :>> ', layout);
const bgColor = background === 'Color' ? `background-color: ${background_color};` : '';
---

<section class="clear-both w-full pt-8 pb-8" style={bgColor}>
  <div class="max-w-5xl mx-auto">
    {heading && <h2 set:html={heading} class="mb-2 text-2xl font-bold" />}
    <div class="md:columns-2 gap-8">
      {column_1 && <div set:html={column_1} />}
      {column_2 && <div set:html={column_2} />}
    </div>
    <div class="clear-both"></div>
  </div>
</section>
