---
import decode from 'unescape';
import { replaceUrl } from '~/utils/utils.ts';
import { breadcrumbUrl } from '~/config';

const { id } = Astro.props;

const response = await fetch(`${breadcrumbUrl}${id}`);
const data = await response.json();
// console.log('breadcrumb data', data.itemListElement);
// console.log('breadcrumb data', data.itemListElement.slice(1));
let breadcrumbData;

breadcrumbData = data.itemListElement.slice(1);
breadcrumbData[0].item.name = 'Home';
breadcrumbData[0].item['@id'] = '/';

const cleanedCrumbUrls = breadcrumbData.map((crumb) => {
  crumb.item['@id'] = replaceUrl(crumb.item['@id']);
  crumb.item.name = decode(crumb.item.name);
  return crumb;
});
---

<style>
  ul {
    margin: 0 0 1rem 2rem;
    list-style: none;
    display: flex;
  }
  li {
    /* padding: 1rem 0 0; */
    font-size: 0.6875rem;
    color: #0a0a0a;
    cursor: default;
    text-transform: uppercase;
  }

  a {
    font-weight: 600;
  }

  li a:after {
    position: relative;
    margin: 0 0.75rem;
    opacity: 1;
    content: '/';
    color: #cacaca;
  }

  li:last-child a:after {
    display: none;
  }

  .current {
    font-weight: 400;
  }
</style>
<nav role="navigation" aria-label="Breadcrumb" class="mx-auto max-w-5xl pb-8">
  <ul role="menu">
    {/* data from WordPress */}
    {
      cleanedCrumbUrls &&
        cleanedCrumbUrls[0].item &&
        cleanedCrumbUrls.map(({ item }, index, arr) => {
          // last item in list
          if (index + 1 === arr.length) {
            return (
              <li role="menuitem" aria-current="page" className="current">
                {item.name}
              </li>
            );
          }

          // anything else
          return (
            <li role="menuitem">
              <a href={item['@id']}>{item.name}</a>
            </li>
          );
        })
    }

    {/* data from js object */}
    {
      cleanedCrumbUrls &&
        !cleanedCrumbUrls[0].item &&
        cleanedCrumbUrls.map((item, index, arr) => {
          // last item in list
          if (index + 1 === arr.length) {
            return (
              <li key={`breadcrumb-${index}`} role="menuitem" aria-current="page" className="current">
                {item.title}
              </li>
            );
          }

          // anything else
          return (
            <li key={`breadcrumb-${index}`} role="menuitem">
              <a href={item.url}>{item.title}</a>
            </li>
          );
        })
    }
  </ul>
</nav>
