---
import { Icon } from 'astro-icon/components';
import { trimSlash } from '~/utils/permalinks';
import { dropdownData, topnavData } from '~/config';

const response = await fetch(dropdownData);
const data = await response.json();

const links = data.items.map(({ title, url, children }) => ({
  text: title,
  href: url,
  links: children?.map(({ title: title2, url: url2, children: children2 }) => ({
    text: title2,
    href: url2,
    links: children2?.map(({ title: title3, url: url3 }) => ({
      text: title3,
      href: url3,
    })),
  })),
}));

const tnresponse = await fetch(topnavData);
const tndata = await tnresponse.json();

const topNavLinks = tndata.items.map(({ title, url }) => ({
  text: title,
  href: url,
}));

// console.log('Children :>> ', JSON.stringify(links.map(({ links }) => ({ links }))));

const currentPath = `/${trimSlash(new URL(Astro.url).pathname)}`;
---

<nav class="relative h-fit z-50 md:w-full md:block text-primary overflow-scroll md:overflow-hidden text-lg bg-white">
  <ul class="relative md:flex items-center justify-between md:max-w-3xl md:mx-auto px-4">
    {
      topNavLinks.map(({ text, href }) => (
        <li>
          <a class="text-base font-normal px-4 py-3 md:text-[0.9375rem] flex items-center" href={href}>
            {text}
          </a>
        </li>
      ))
    }
  </ul>
  <ul
    class="md:bg-primary md:text-white md:flex flex-col md:flex-nowrap md:flex-row md:self-center w-full text-lg md:text-[0.9375rem] tracking-[0.01rem] font-medium md:justify-center"
  >
    {
      links.map(({ text, href, links }) => (
        <li class={links?.length ? 'dropdown' : ''}>
          {links?.length ? (
            <>
              <button type="button" class="hover:text-link text-white px-4 py-3 flex items-center bg-primary">
                {text}{' '}
                <Icon name="tabler:chevron-down" class="w-3.5 h-3.5 ml-0.5 rtl:ml-0 rtl:mr-0.5 hidden md:inline" />
              </button>
              <div class="dropdown-menu md:w-full left-0 md:fixed px-4 md:hidden md:bg-[rgb(220,217,226)] md:py-4 md:min-w-[200px]">
                <ul class="md:flex mx-auto gap-4">
                  {links.map(({ text: text2, links: children2 }) => (
                    <li class="">
                      <h4 class="text-primary font-bold ">{text2}</h4>
                      {children2?.length ? (
                        <ul class="text-black pl-4 md:pl-0 font-medium md:min-w-[200px]">
                          {children2.map(({ text: text3, href: href3 }) => (
                            <li>
                              <a
                                class:list={[
                                  'hover:text-link font-normal py-1 block whitespace-no-wrap',
                                  { 'aw-link-active': href3 === currentPath },
                                ]}
                                href={href3}
                              >
                                {text3}
                              </a>
                            </li>
                          ))}
                        </ul>
                      ) : null}
                    </li>
                  ))}
                </ul>
              </div>
            </>
          ) : (
            <a
              class:list={[
                'md:text-white font-normal px-4 py-3 flex items-center',
                { 'aw-link-active': href === currentPath },
              ]}
              href={href}
            >
              {text}
            </a>
          )}
        </li>
      ))
    }
  </ul>
</nav>
