---
export const prerender = false;

import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import SidebarLeft from '~/components/widgets/SidebarLeft.astro';
import SidebarRight from '~/components/widgets/SidebarRight.astro';
import ACF from '~/components/widgets/ACF/ACF.astro';

import { pageData } from '~/config';

const { page } = Astro.params;

const slug = page.split('?')[0].replace(/\/$/, '').split('/').pop();

const response = await fetch(pageData + slug);

const data = await response.json();
const pageContent = data[0];
const { template = '', title, content, acf } = pageContent;

// console.log('template :>> ', template);
// console.log('pageContent :>> ', pageContent);

if (!pageContent) {
  Astro.response.status = 404;
  Astro.response.statusText = 'Not found';
}

const pageTitle = pageContent ? title.rendered.replace(/&amp;/g, '&') : null;
// console.log('pageTitle :>> ', pageTitle);

// console.log('acf :>> ', acf);
const ACFData = pageContent ? acf : null;
---

<style>
  .acc-bottom-border :global(h1) {
    border-bottom: 2px solid rgba(77, 25, 121, 0.35);
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
</style>
<Layout>
  {
    // ########## HERO ##########
    ACFData.hero_content && (
      <div class="hero">{ACFData.hero_content[0].acf_fc_layout && <Hero data={ACFData.hero_content[0]} />}</div>
    )
  }
  <div class="max-w-5xl mx-auto mb-8 acc-bottom-border">
    {/* no sidebars */}
    {
      !template && content.rendered && (
        <>
          <h1>{pageTitle}</h1>
          <div set:html={content.rendered} />
        </>
      )
    }
    {/* End no sidebars */}
    {/* sidebar left only */}
    {
      template === 'page-sidebar-left.php' && (
        <SidebarLeft content={content.rendered} sidebar={ACFData.sidebar_left} title={pageTitle} />
      )
    }
    {/*  End sidebar left only */}

    {/* sidebar right only */}
    {
      template === 'page-sidebar-right.php' && (
        <SidebarRight content={content.rendered} sidebar={ACFData.sidebar_right} title={pageTitle} />
      )
    }
    {/*  End sidebar right only */}
  </div>
  {ACFData && <ACF layouts={ACFData.layouts} />}
</Layout>
