---
export const prerender = false;

import Layout from '~/layouts/PageLayout.astro';
import Hero from '~/components/widgets/Hero.astro';
import SidebarLeft from '~/components/widgets/SidebarLeft.astro';
import SidebarRight from '~/components/widgets/SidebarRight.astro';
import ACF from '~/components/widgets/ACF/ACF.astro';

import { pageData } from '~/config';

const { page } = Astro.params;

const slug = page ? page.split('?')[0].replace(/\/$/, '').split('/').pop() : '';

const response = await fetch(pageData + slug);

const data = await response.json();
const pageContent = data[0];
<<<<<<< HEAD
// const { title, content, acf } = pageContent;
const template = pageContent ? pageContent.template : '';
const title = pageContent ? pageContent.title : '';
const content = pageContent ? pageContent.content : '';
const acf = pageContent ? pageContent.acf : '';
=======
const { template = '', title, content, acf } = pageContent;
>>>>>>> 0aadb8e88aa4107ca99cbe882f5dad1468b22e71

// console.log('template :>> ', template);
// console.log('pageContent :>> ', pageContent);

if (!pageContent) {
  Astro.response.status = 404;
  Astro.response.statusText = 'Not found';
}

<<<<<<< HEAD
const pageTitle = title ? title.rendered : 'Page not found';
=======
const pageTitle = pageContent ? title.rendered : null;
>>>>>>> 0aadb8e88aa4107ca99cbe882f5dad1468b22e71
// console.log('pageTitle :>> ', pageTitle);

// console.log('acf :>> ', acf);
const ACFData = pageContent ? acf : null;
---

<Layout>
  {
    // ########## HERO ##########
    ACFData.hero_content && (
      <div class="hero">{ACFData.hero_content[0].acf_fc_layout && <Hero data={ACFData.hero_content[0]} />}</div>
    )
  }
  <div class="max-w-5xl mx-auto mb-8">
    {/* no sidebars */}
    {
      !template && content.rendered && (
        <>
          <h1>{pageTitle}</h1>
          <div set:html={content.rendered} />
        </>
      )
    }
    {/* End no sidebars */}
    {/* sidebar left only */}
    {
      template === 'page-sidebar-left.php' && (
        <SidebarLeft content={content.rendered} sidebar={ACFData.sidebar_left} title={pageTitle} />
      )
    }
    {/*  End sidebar left only */}

    {/* sidebar right only */}
    {
      template === 'page-sidebar-right.php' && (
        <SidebarRight content={content.rendered} sidebar={ACFData.sidebar_right} title={pageTitle} />
      )
    }
    {/*  End sidebar right only */}
  </div>
  {ACFData && <ACF layouts={ACFData.layouts} />}
</Layout>
