---
import Layout from '~/layouts/Layout.astro';
import Header from '~/components/widgets/Header.astro';
import Footer from '~/components/widgets/Footer.astro';
import ReportsTest from '~/components/widgets/Reports/Reports.jsx';
import { reportsArchiveData, reportsID, apiKey } from '~/config';

const title = 'Reports';

const archivesResponse = await fetch(reportsArchiveData);
const archivesData = await archivesResponse.json();
// console.log('data :>> ', data.sheets);
const sheetTitles = archivesData.sheets
  .map((sheet) => sheet.properties.title)
  .filter((title) => title !== 'Sheet Order');
console.log(sheetTitles);

// Get the selected report from the URL or default to the latest report
const selectedReport = Astro.url.searchParams.get('report') || sheetTitles[0];

const fetchReport = async (sheetTitle) => {
  const reportResponse = await fetch(
    `https://sheets.googleapis.com/v4/spreadsheets/${reportsID}/values/${sheetTitle}?key=${apiKey}`
  );
  const reportData = await reportResponse.json();
  // console.log('Response: ', reportData);
  const reports = reportData.values;
  reports.shift();
  // console.log('reports :>> ', reports);
  return reports;
};

const currentReport = await fetchReport(encodeURI(selectedReport));
---

<style>
  .bottom-border {
    border-bottom: 2px solid rgba(77, 25, 121, 0.35);
    padding-bottom: 0.5rem;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
</style>
<Layout metadata={{ title }}>
  <Header />

  <div class="max-w-5xl mx-auto mb-4 px-4 lg:px-0">
    <div class="text-xs py-4">
      <a href="/">Home</a> / Reports
    </div>
    <!-- <Breadcrumbs data={breadcrumbData} /> -->
    <h1 class="text-3xl font-bold uppercase bottom-border">TLED EXECUTIVE REPORT</h1>
    <h3 class="text-lg py-4 font-normal">Timely updates for enhanced internal communication.</h3>
    <div class="md:flex gap-x-8 pb-4">
      <div class="basis-1/2 bg-gray-200 py-12 px-8 text-center mb-4 md:mb-0">
        <p>View reports by date:</p>
        <!-- <select onChange={this.handleSheetSelect}> -->
        <select class="p-2 border border-neutral-300" id="archives">
          <option value={encodeURI(sheetTitles[0])}>Current Report</option>
          {
            sheetTitles.map((title) => (
              <option value={encodeURI(title)} selected={title === selectedReport}>
                {title}
              </option>
            ))
          }
        </select>
        <script is:inline>
          // get the select element and add an event listener
          const select = document.getElementById('archives');
          select.addEventListener('change', (e) => {
            // get the selected value
            const selected = e.target.value;
            console.log('selected :>> ', selected);
            window.location.href = `?report=${selected}`;
          });
        </script>
      </div>
      <div id="subscribe" class="basis-1/2 bg-slate-100 py-12 px-8 text-center">
        <p>Subscribe to receive monthly reports via email:</p>
        <a target="_blank" href="https://lp.constantcontact.com/su/ZAfZ2hs/TLEDreport">
          <button type="button" class="button"> Subscribe </button>
        </a>
      </div>
    </div>

    <!-- <ReportsGrid client:load /> -->
    <ReportsTest currentReport={currentReport} selectedReport={selectedReport} client:load />
    <div class="mt-8">
      <h1 class="text-2xl font-bold uppercase bottom-border">Contact Us</h1>
      <p>
        If you need to reach us regarding the content of this page, please send an email to:
        <br />
        <a href="mailto:tledwebsite@austincc.edu"> tledwebsite@austincc.edu </a>
      </p>
    </div>
  </div>
</Layout>

<Footer />
